.chart-line-symbol {
    -fx-background-radius: 2px;
    -fx-padding: 2px;
    padding:3px;
    -fx-background-color: black;
    background-color:black;
}

.chart-series-line {
    -fx-stroke:black;
    stroke:black;
}